<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- body link -->
  <xacro:macro name="insert_inertia_base_link">
            <origin xyz="-0.004 0.000 0.186"/>
            <mass value="3.828039"/>
            <inertia ixx="0.147494" ixy="-0.000008" ixz="-0.001466" 
                     iyy="0.092300" iyz="-0.0000012" 
                     izz="0.082743"/>
  </xacro:macro>

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--||||||||||||||||||||||||||||            RIGHT LEG   |||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

  <!-- right hip yaw link -->
  <xacro:macro name="insert_inertia_r_hip_yaw_link">
            <origin xyz="0.000 0.000 -0.026189"/>
            <mass value="0.408755"/>
            <inertia ixx="0.000164" ixy="0.000000" ixz="0.000001" 
                     iyy="0.000476" iyz="0.000000" 
                     izz="0.000486"/>
  </xacro:macro>

  <!-- right hip roll link -->
  <xacro:macro name="insert_inertia_r_hip_roll_link">
            <origin xyz="-0.051690 -0.000153 -0.041860"/>
            <mass value="1.107543"/>
            <inertia ixx="0.001185" ixy="-0.000000" ixz="0.000012" 
                     iyy="0.001362" iyz="0.000001" 
                     izz="0.001901"/>
  </xacro:macro>

  <!-- right hip pitch back link -->
  <xacro:macro name="insert_inertia_r_hip_pitch_back_link">
            <origin xyz="0.007787 -0.052720 -0.137499"/>
            <mass value="0.168201"/>
            <inertia ixx="0.001266" ixy="0.000000" ixz="-0.000001" 
                     iyy="0.000870" iyz="0.000000" 
                     izz="0.000444"/>
  </xacro:macro>

  <!-- right hip pitch front link -->
  <xacro:macro name="insert_inertia_r_hip_pitch_front_link">
            <origin xyz="0.013333 -0.052743 0.147571"/>
            <mass value="0.232652"/>
            <inertia ixx="0.001754" ixy="0.000000" ixz="0.000028" 
                     iyy="0.001222" iyz="0.000000" 
                     izz="0.000630"/>
  </xacro:macro>

  <!-- right knee link -->
  <xacro:macro name="insert_inertia_r_knee_link">
            <origin xyz="0.041262 -0.041430 -0.021997"/>
            <mass value="1.901538"/>
            <inertia ixx="0.004405" ixy="0.000051" ixz="0.000000" 
                     iyy="0.005540" iyz="0.000000" 
                     izz="0.004002"/>
  </xacro:macro>

  <!-- right ankle pitch back link -->
  <xacro:macro name="insert_inertia_r_ank_pitch_back_link">
            <origin xyz="0.004340 -0.052765 -0.136269"/>
            <mass value="0.163307"/>
            <inertia ixx="0.001208" ixy="0.000000" ixz="0.000008" 
                     iyy="0.000817" iyz="0.000000" 
                     izz="0.000422"/>
  </xacro:macro>

  <!-- right ankle pitch front link -->
  <xacro:macro name="insert_inertia_r_ank_pitch_front_link">
            <origin xyz="0.012430 -0.052746 -0.120446"/>
            <mass value="0.207951"/>
            <inertia ixx="0.001611" ixy="0.000000" ixz="0.000075" 
                     iyy="0.001163" iyz="0.000000" 
                     izz="0.000570"/>
  </xacro:macro>

  <!-- right ankle link -->
  <xacro:macro name="insert_inertia_r_ank_link">
            <origin xyz="0.035750 -0.052944 -0.016184"/>
            <mass value="1.107543"/>
            <inertia ixx="0.001185" ixy="0.000000" ixz="-0.000012" 
                     iyy="0.001362" iyz="-0.000001" 
                     izz="0.001901"/>
  </xacro:macro>

  <!-- right ankle roll link -->
  <xacro:macro name="insert_inertia_r_ank_roll_link">
            <origin xyz="-0.027448 -0.014066 -0.030664"/>
            <mass value="0.836007"/>
            <inertia ixx="0.002250" ixy="-0.000205" ixz="-0.000269" 
                     iyy="0.005417" iyz="0.000157" 
                     izz="0.006920"/>
  </xacro:macro>

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--||||||||||||||||||||||||||||            LEFT LEG    |||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

  <!-- left hip yaw link -->
  <xacro:macro name="insert_inertia_l_hip_yaw_link">
            <origin xyz="0.000 0.000 -0.026189"/>
            <mass value="0.408755"/>
            <inertia ixx="0.000164" ixy="0.000000" ixz="0.000001" 
                     iyy="0.000476" iyz="0.000000" 
                     izz="0.000486"/>
  </xacro:macro>

  <!-- left hip roll link -->
  <xacro:macro name="insert_inertia_l_hip_roll_link">
            <origin xyz="-0.051690 -0.000153 -0.041860"/>
            <mass value="1.107543"/>
            <inertia ixx="0.001185" ixy="-0.000000" ixz="0.000012" 
                     iyy="0.001362" iyz="0.000001" 
                     izz="0.001901"/>
  </xacro:macro>

  <!-- left hip pitch back link -->
  <xacro:macro name="insert_inertia_l_hip_pitch_back_link">
            <origin xyz="0.007787 -0.052720 -0.137499"/>
            <mass value="0.168201"/>
            <inertia ixx="0.001266" ixy="0.000000" ixz="-0.000001" 
                     iyy="0.000870" iyz="0.000000" 
                     izz="0.000444"/>
  </xacro:macro>

  <!-- left hip pitch front link -->
  <xacro:macro name="insert_inertia_l_hip_pitch_front_link">
            <origin xyz="0.013333 -0.052743 0.147571"/>
            <mass value="0.232652"/>
            <inertia ixx="0.001754" ixy="0.000000" ixz="0.000028" 
                     iyy="0.001222" iyz="0.000000" 
                     izz="0.000630"/>
  </xacro:macro>

  <!-- left knee link -->
  <xacro:macro name="insert_inertia_l_knee_link">
            <origin xyz="0.041262 -0.041430 -0.021997"/>
            <mass value="1.901538"/>
            <inertia ixx="0.004405" ixy="0.000051" ixz="0.000000" 
                     iyy="0.005540" iyz="0.000000" 
                     izz="0.004002"/>
  </xacro:macro>

  <!-- left ankle pitch back link -->
  <xacro:macro name="insert_inertia_l_ank_pitch_back_link">
            <origin xyz="0.004340 -0.052765 -0.136269"/>
            <mass value="0.163307"/>
            <inertia ixx="0.001208" ixy="0.000000" ixz="0.000008" 
                     iyy="0.000817" iyz="0.000000" 
                     izz="0.000422"/>
  </xacro:macro>

  <!-- left ankle pitch front link -->
  <xacro:macro name="insert_inertia_l_ank_pitch_front_link">
            <origin xyz="0.012430 -0.052844 -0.120446"/>
            <mass value="0.207951"/>
            <inertia ixx="0.001612" ixy="0.000000" ixz="0.000075" 
                     iyy="0.001163" iyz="0.000000" 
                     izz="0.000570"/>
  </xacro:macro>

  <!-- left ankle link -->
  <xacro:macro name="insert_inertia_l_ank_link">
            <origin xyz="0.035750 -0.052944 -0.016184"/>
            <mass value="1.107543"/>
            <inertia ixx="0.001185" ixy="0.000000" ixz="-0.000012" 
                     iyy="0.001362" iyz="-0.000001" 
                     izz="0.001901"/>
  </xacro:macro>

  <!-- left ankle roll link -->
  <xacro:macro name="insert_inertia_l_ank_roll_link">
            <origin xyz="-0.027367 0.014066 -0.030664"/>
            <mass value="0.836007"/>
            <inertia ixx="0.002250" ixy="0.000207" ixz="-0.000271" 
                     iyy="0.005430" iyz="-0.000157" 
                     izz="0.006932"/>
  </xacro:macro>

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--||||||||||||||||||||||||||||            RIGHT ARM   |||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

  <!-- right shoulder pitch joint -->
  <xacro:macro name="insert_inertia_r_sho_pitch_link">
    <origin xyz="0.0 -0.025567 -0.008154" />
    <mass value="0.124321"/>
    <inertia ixx="0.000142" ixy="0.0" ixz="0.0"
             iyy="0.000143" iyz="0.000024"
             izz="0.000138" />
  </xacro:macro>

  <!-- right shoulder roll joint -->
  <xacro:macro name="insert_inertia_r_sho_roll_link">
    <origin xyz="-0.024138 0.0 -0.055244" />
    <mass value="0.536868"/>
    <inertia ixx="0.002466" ixy="0.0000000" ixz="0.000038"
             iyy="0.002420" iyz="0.000000"
             izz="0.000298" />
  </xacro:macro>

  <!-- right elbow joint -->
  <xacro:macro name="insert_inertia_r_el_link">
    <origin xyz="-0.023724 0.023724 -0.031395" />
    <mass value="0.587791"/>
    <inertia ixx="0.000608" ixy="-0.000002" ixz="0.000110"
             iyy="0.000697" iyz="-0.000005"
             izz="0.000322" />
  </xacro:macro>

  <!-- right elbow yaw joint -->
  <xacro:macro name="insert_inertia_r_el_yaw_link">
    <origin xyz="0.000439 -0.000057 -0.174278" />
    <mass value="0.897660"/>
    <inertia ixx="0.003196" ixy="0.000000" ixz="-0.000009"
             iyy="0.003288" iyz="0.000000"
             izz="0.000541" />
  </xacro:macro>

 
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--||||||||||||||||||||||||||||            LEFT ARM   |||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

  <!-- left shoulder pitch joint -->
  <xacro:macro name="insert_inertia_l_sho_pitch_link">
    <origin xyz="0.0 0.025567 -0.008154" />
    <mass value="0.124321"/>
    <inertia ixx="0.000142" ixy="0.0" ixz="0.0"
             iyy="0.000143" iyz="-0.000024"
             izz="0.000138" />
  </xacro:macro>

  <!-- left shoulder roll joint -->
  <xacro:macro name="insert_inertia_l_sho_roll_link">
    <origin xyz="-0.024138 0.0 -0.055244" />
    <mass value="0.536868"/>
    <inertia ixx="0.002466" ixy="0.0000000" ixz="0.000038"
             iyy="0.002420" iyz="0.000000"
             izz="0.000298" />
  </xacro:macro>

  <!-- left elbow joint -->    <origin xyz="-0.000786 0.000039 -0.164103" />
    <mass value="0.772383"/>
    <inertia ixx="0.003601" ixy="0.00000" ixz="0.000018"
             iyy="0.003625" iyz="0.000001"
             izz="0.000636" />
  <xacro:macro name="insert_inertia_l_el_link">
    <origin xyz="-0.023724 0.023724 -0.031395" />
    <mass value="0.587791"/>
    <inertia ixx="0.000608" ixy="-0.000002" ixz="0.000110"
             iyy="0.000697" iyz="-0.000005"
             izz="0.000322" />
  </xacro:macro>

  <!-- left elbow yaw joint -->
  <xacro:macro name="insert_inertia_l_el_yaw_link">
    <origin xyz="0.000439 -0.000057 -0.174278" />
    <mass value="0.897660"/>
    <inertia ixx="0.003196" ixy="0.000000" ixz="-0.000009"
             iyy="0.003288" iyz="0.000000"
             izz="0.000541" />
  </xacro:macro>
 
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--||||||||||||||||||||||||||||            HEAD        |||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

  <!-- head yaw joint -->
  <xacro:macro name="insert_inertia_head_pan_link">
    <origin xyz="0.000028 0.00000 0.015169" />
    <mass value="0.059035"/>
    <inertia ixx="0.000044" ixy="0.0" ixz="0.000000"
             iyy="0.000028" iyz="0.0"
             izz="0.000047" />
  </xacro:macro>

  <!-- head tilt joint -->
  <xacro:macro name="insert_inertia_head_tilt_link">
    <origin xyz="-0.000461 0.024430 0.096656" />
    <mass value="1.208235"/>
    <inertia ixx="0.010817" ixy="0.000002" ixz="0.000374"
             iyy="0.005808" iyz="0.000015"
             izz="0.008494" />
  </xacro:macro>

</robot>