<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- body link -->
  <xacro:macro name="insert_meshcol_base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/base_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--||||||||||||||||||||||||||||            RIGHT LEG   |||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->.

  <!-- right hip yaw link -->
  <xacro:macro name="insert_meshcol_r_hip_yaw_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rhip_yaw_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- right hip roll link -->
  <xacro:macro name="insert_meshcol_r_hip_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rhip_roll_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- right hip pitch back link -->
  <xacro:macro name="insert_meshcol_r_hip_pitch_back_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rpaha_belakang_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- right hip pitch front link -->
  <xacro:macro name="insert_meshcol_r_hip_pitch_front_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rpaha_depan_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

    <!-- right knee link -->
  <xacro:macro name="insert_meshcol_r_knee_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rlutut_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- right ankle pitch back link -->
  <xacro:macro name="insert_meshcol_r_ank_pitch_back_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rbetis_belakang_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- right ankle pitch front link -->
  <xacro:macro name="insert_meshcol_r_ank_pitch_front_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rbetis_depan_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- right ankle link -->
  <xacro:macro name="insert_meshcol_r_ank_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rankle_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- right ankle roll link -->
  <xacro:macro name="insert_meshcol_r_ank_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rtelapak_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--||||||||||||||||||||||||||||            LEFT LEG    |||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

<!-- left hip yaw link -->
  <xacro:macro name="insert_meshcol_l_hip_yaw_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Lhip_yaw_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- left hip roll link -->
  <xacro:macro name="insert_meshcol_l_hip_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Lhip_roll_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- left hip pitch back link -->
  <xacro:macro name="insert_meshcol_l_hip_pitch_back_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Lpaha_belakang_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- left hip pitch front link -->
  <xacro:macro name="insert_meshcol_l_hip_pitch_front_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Lpaha_depan_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

    <!-- left knee link -->
  <xacro:macro name="insert_meshcol_l_knee_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Llutut_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- left ankle pitch back link -->
  <xacro:macro name="insert_meshcol_l_ank_pitch_back_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Lbetis_belakang_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- left ankle pitch front link -->
  <xacro:macro name="insert_meshcol_l_ank_pitch_front_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Lbetis_depan_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- left ankle link -->
  <xacro:macro name="insert_meshcol_l_ank_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Lankle_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- left ankle roll link -->
  <xacro:macro name="insert_meshcol_l_ank_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Ltelapak_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--||||||||||||||||||||||||||||            RIGHT ARM   |||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

  <!-- right shoulder pitch joint -->
  <xacro:macro name="insert_meshcol_r_sho_pitch_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rshoulder_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- right shoulder pitch joint -->
  <xacro:macro name="insert_meshcol_r_sho_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rarm_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- right elbow joint -->
  <xacro:macro name="insert_meshcol_r_el_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Relbow_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro> 

  <!-- right elbow yaw joint -->
  <xacro:macro name="insert_meshcol_r_el_yaw_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Rhand_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro> 
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--||||||||||||||||||||||||||||            LEFT ARM   |||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
  <!-- left shoulder pitch joint -->
  <xacro:macro name="insert_meshcol_l_sho_pitch_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Lshoulder_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- left shoulder pitch joint -->
  <xacro:macro name="insert_meshcol_l_sho_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Larm_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- left elbow joint -->
  <xacro:macro name="insert_meshcol_l_el_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Lelbow_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- left elbow yaw joint -->
  <xacro:macro name="insert_meshcol_l_el_yaw_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/Lhand_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--||||||||||||||||||||||||||||            HEAD        |||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
  <!-- head yaw joint -->
  <xacro:macro name="insert_meshcol_head_pan_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/pan_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- head yaw joint -->
  <xacro:macro name="insert_meshcol_head_tilt_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://humanoid_description/meshes/collision/tilt_col.STL"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

</robot>
