<?xml version="1.0"?>
<launch>
    <arg name="position_controller" default="true"/>
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="true"/>
    </include> -->
     <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find humanoid_gazebo)/worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
</include>
    <param name="robot_description" command="$(find xacro)/xacro '$(find humanoid_description)/urdf/humanoid.xacro'"/>

    <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" respawn="false" output="screen" 
          args="-urdf -model humanoid -z 1 -param robot_description"/> <!-- 0.825 -->
      <!-- ros_control robotis humanoid launch file -->
    <group if ="$(arg position_controller)">
  	    <include file="$(find humanoid_gazebo)/launch/humanoid_control.launch" />
    </group>
</launch>
